PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/lematch
JWT_SECRET=change_this_secret
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
ALLOWED_ORIGINS=http://localhost:3000
BASE_URL=http://192.168.1.73:3000

# Préfixe pour déploiement sous un sous-chemin (ex: /le-match-api)
# Laisser vide si l'API est à la racine du domaine
# BASE_PATH=/le-match-api
